body {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

html {
  height: 100%;
}

.main {
  display: flex;
  flex-wrap: wrap;
  border: solid;
  width: 750px;
  height: 750px;
  justify-content: flex-start;
  gap: 0px;
}

.black {
  background-color: black;
}
